<% body_class! 'sidebar-static sidebar-v-center login' %>
<% no_header! %>

<% content_for :sidebar do %>
  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: ExtendedFormBuilder) do |f| %>
      <%= ticker_type I18n.t('tickers.login'), class: 'site-logo' %>

      <div class="field">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "What are you known as" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Super secret passcode" %>
      </div>

      <div class="actions flex v-center">
        <% if devise_mapping.rememberable? -%>
          <div class="grows">
            <%= f.check_box :remember_me %>

            <%= f.label :remember_me, 'Remember?' %>
          </div>
        <% end -%>

        <div class="submit">
          <%= f.submit "Login" %>
        </div>
      </div>
    <% end %>

    <div class="divider"></div>

    <%= render "devise/shared/links" %>
  </div>
<% end %>